*{
    outline: 1px dotted red;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: auto;
    width: auto;
}
.top{
    background-color: crimson;
    height: 6rem;
    margin: 1rem;
    margin-bottom: 0;
    display: flex;
    align-items: center;
}
.buttons{
    width: auto;
    height: 5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    justify-content: baseline;
    align-items: center;
    background-color: black;
}
#about, #join{
    color: white;
    font-size: 2rem;
    padding: .5rem;
    margin: 1rem;
    outline: solid white 0.2rem;
    font-family: sans-serif;
    font-weight: bold;
    border-radius: 0.5rem;
}
.business{
    font-size: 4rem;
    font-weight: bold;
    font-family: sans-serif;
    color: white;
    margin-left: 1rem;
}